<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Estudiantes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
    <h2>Lista de Estudiantes</h2>
    <a th:href="@{/estudiantes/nuevo}" class="btn btn-primary mb-3">Registrar Estudiante</a>

    <table class="table table-striped border">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="estudiante : ${estudiantes}">
                <td th:text="${estudiante.id}">1</td>
                <td th:text="${estudiante.nombre}">Nombre</td>
                <td th:text="${estudiante.apellido}">Apellido</td>
                <td th:text="${estudiante.email}">email@ejemplo.com</td>
            </tr>
        </tbody>
    </table>
	<!-- Formulario de Logout para Spring Security -->
	<form th:action="@{/logout}" method="post" class="d-inline">
	    <button type="submit" class="btn btn-outline-danger">Cerrar Sesión</button>
	</form>
</body>
</html>